*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    --color-hover: #ff6900;
    --my-color: white;
}
/*  */

.swapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 61px;
    
}
.logo{
    padding-left: 30px;
    z-index: 1;
}
.logo>a{
    display: block;
    height: fit-content;
}
.nav{
    background-color: rgb(255, 255, 255);
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: aqua; */
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 10px;
    cursor: pointer;
}
nav>ul a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
}
nav>ul a:hover{
    color: var(--color-hover);
}
.search{
    position: relative;
    padding: 20px;
}

.search>i{
    font-size: 1.7rem;
}
.search-top{
    position: absolute;
    top: calc(100%);
    right: 0;
    width: 200px;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-radius: 5px;
    display: none;
}
.search-top>input{
    /* font-size: 1.6rem; */
    font-size: 1.6rem;
    width: 85%;
    outline: none;
    border: none;
}
.search-top>i{
    font-size: 1.6rem;
}
.search-top>i:hover{
    color: var(--color-hover);
}
#search_check:checked ~ .search-top{
    display: block;
}

.buttom_nav{
    display: none;
    margin-right: 30px;
}
.buttom_nav>i{
    font-size: 3rem;
}
.buttom_nav>i:hover{
    color: var(--color-hover);
}

.banner{
    text-align: center;
}
.banner>picture>img{
   width: 100%;
   max-width: 1900px;
}
/*  */
.title_h1{
    width: 100%;
    text-align: center;
}
.title_h1>h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;
    margin-top: 5rem;
}
.dangky{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 30px;
}

.title_section{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 3rem;
}
.title_section>.icon{
    width: 2rem;
    height: 2rem;
    background-color: #ff6900;
    border-radius: 5px;
}
.title_section>h3{
    font-size: 2.2rem;
    color: #2E3192;;
}


.dangky>.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;

}

.row_item *{
    display: block;
}
.row_item{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row_item>span{
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 500;
}
.row_item>input{
    font-size: 1.8rem;
    padding: 1.4rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgba(150, 149, 149,0.5);
    box-shadow: 0 0 5px rgba(150, 149, 149,0.8);
    width: 100%;
}
.row_item>select{
    font-size: 1.8rem;
    border-radius: 10px;
    padding: 1.4rem;
    outline: none;
    width: 100%;
    border: 1px solid rgba(150, 149, 149,0.5);
    box-shadow: 0 0 10px rgb(150, 149, 149);
}
.row>*{
    flex: 1;
    min-width: 234px;
}

.title_h5{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.ketqua{
    display: flex;
    max-width: 60%;
    /* background-color: #2E3192; */
    justify-content: space-between;
    margin-top: 3rem;
}

.ketqua_item>span{
    font-size: 15px;
    font-weight: 500;
}
.ketqua_item>.item{
    margin-top: 10px;
    padding-right: 2rem;
}
.ketqua_item>.item>span{
    font-size: 15px;
    font-weight: 300;
}

.giayto{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.giayto_item{
    width: 30%;
    margin-top: 10px;
    padding: 5px 10px;
}

.giayto_item>.mid{
    height: 175px;
    overflow: hidden;
}
.giayto_item>.mid>img{
    width: 100%;
    object-fit: fill;
}

.giayto_item>.top>p{
    font-size: 15px;
    font-weight: 500;
}
.giayto_item>.top>span{
    font-size: 14px;
    color: rgba(150, 149, 149,0.8);
}

.giayto_item>.bottom{
    margin-top: 8px;
}
.camket{
    margin-top: 20px;
}
.camket_item{
    margin-top: 10px;
    display: flex;
    align-items: start;
    gap: 10px;
}

.camket_item>span{
    font-size: 15px;
}

.button{
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 10rem;
}
.button>button{
    border: none;
    font-size: 2rem;
    padding: 2.5rem 3rem;
    color: var(--my-color);
    background-color: black;
    transition: all .3s linear;
    border-radius: 15px;
}
.button>button:hover{
    background: linear-gradient(90deg,rgb(37, 40, 226),rgb(204, 104, 37));
    transform: scale(1.03);
}



@media screen and (max-width:650px) {
    .ketqua{
        max-width: 100%;
    }
    .giayto{
        flex-direction: column;
    }
    .giayto_item{
        width: 100% !important;
        min-width: 200px !important;
    }
}

@media screen and (max-width:1039px) {
    .search-top{
        right: 50px;
        top: 20%;
    }
    .buttom_nav{
        display: block;
    }
    nav{
        position: relative;
        /* background-color: aqua; */
    }
    nav>ul{
        position: absolute;
        flex-direction: column;
        top: 30px;
        right: -65px;
        gap: 0;
        width: 220px;
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s linear;
    }
    nav>ul>li{
        border-bottom: 1px solid gray;
        padding: 10px;
        background-color: #272f54;
    }
    nav>ul>li:last-child{border: none;}
    nav>ul>li>a{
        color: var(--my-color);
    }
    #check_menu:checked ~ ul{
        max-height: 500px;
    }
    #check_menu:checked ~ .overlay_menu{
        display: block;
    }
    .overlay_menu{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
    }
    .giayto{
        justify-content: flex-start;
    }
    .giayto_item:nth-child(1),
    .giayto_item:nth-child(2){
        flex: 1;
    }

    .giayto_item:last-child{
        min-width: 390px;
        width: 50%;
    }
    /* .giayto_item{
        width: 50% !important;
    } */
}



@media screen and (max-width:1147px) {
   html{
    font-size: 55%;
   }
}

@media screen and (min-width:1040px) {
    .giayto_item:last-child{
        width: 38% !important;
    }
}